@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Demo_ASP_01.Models.Demo
@model FormsDemoForm

@{
    List<SelectListItem> titleItems = new List<SelectListItem>(){
                new SelectListItem() {Value = "none", Text="Pas de titre"},
                new SelectListItem() {Value = "mme", Text="Mme"},
                new SelectListItem() {Value = "mr", Text="Mr"},
                new SelectListItem() {Value = "dr", Text="Dr"}
                    };
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Demo ASP MVC : @ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
</head>
<body>
    <h1>Demo ASP MVC</h1>
    @if(TempData.ContainsKey("errorMessage")){
        <div style="background-color : #FF7777; color : #880000">
            <p>@TempData["errorMessage"]</p>
        </div>
    }
    <div asp-validation-summary="All" class="alert alert-danger" style="width : 75%; margin : 0 auto">Votre formulaire contient @ViewContext.ModelState.ErrorCount erreur(s) :</div>
    <h2>Démonstrations des formulaires</h2>
    <div class="row">
        <form method="post" class="col-6 container-md" asp-action="FormsDemo" asp-controller="Demo">
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <select asp-for="Title" asp-items="titleItems" class="form-select"></select>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BirthDate" class="form-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger">Le champ Date de naissance est invalide</span>
            </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <button type="reset" class="btn btn-warning">Vider formulaire</button>
            <a asp-controller="Demo" asp-action="Index" class="btn btn-danger">Revenir en arrière</a>
        </div>
    </form>
    </div>
</body>
</html>
