<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Demo ASP MVC : SaveData</title>
</head>
<body>
    <h1>Demo ASP MVC</h1>
    <h2>Votre data a été sauvé!</h2>
    <p>La donnée est : @TempData.Peek("data")</p>
</body>
</html>