
    <h1>Demo ASP MVC</h1>
    <h2>Voici votre data :</h2>
    @if(TempData.ContainsKey("data")){
        <p>@((string)TempData["data"])</p>
    }
    else{
        <p>Pas de données sauvegardées... 🥺</p>
    }
